.analyzeweb__contactPg-navbar{
    width: 100vw;
}

.analyzeweb__contactPg{
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    border: 1px solid blue;
}

.analyzeweb__contactPg-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vw;
    border: 1px solid red; 
}

.analyzeweb__contactPg-content_title{
    display: flex;
    flex-direction: column;
    width: 30vw;
    border: 1px solid peru;
}

.analyzeweb__contactPg-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 50vh;
    border: 1px solid red;
}

.analyzeweb__contactPg-form_title{
    border: 1px solid peru;
}

.analyzeweb__contactPg-form_form{
    border: 1px solid peru;
}

.analyzeweb__contactPg-form_form-name{
    border: 1px solid cyan;
}

.analyzeweb__contactPg-form_form-email{
    border: 1px solid cyan;
}

.analyzeweb__contactPg-form_form-text{
    border: 1px solid cyan;
}

.analyzeweb__contactPg-form_form-button{
    border: 1px solid cyan;
}

.analyzeweb__contactPg-footer{
    display: flex;
}