.analyzeweb__usPg{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.analyzeweb__usPg-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 45vh;
}
.analyzeweb__usPg-header_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 45vh;
    background-color: rgba(32, 39, 44, 0.3);
    /* background: linear-gradient(180deg,
                             rgba(253,206,20,0.1) 25%,  
                             rgba(239,92,168,0.1) 75%); */
}

#header_bg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.analyzeweb__usPg-header_content{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 45vh;
    top: 0;
    left: 0;
    padding-right: 9vmin;
    padding-left: 9vmin;
}

.analyzeweb__usPg-header_content h1, 
.analyzeweb__usPg-header_content p {
    font-family: 'Montserrat';
    color: #DFB28E;
}

.analyzeweb__usPg-header_content h1{
    font-size: 6vmin;
    font-weight: 800;
}
.analyzeweb__usPg-header_content p{
    font-size: 2vmin;
    font-weight: 300;
    text-align: center;
    padding-top: 3vmin;
}

.analyzeweb__usPg-content {
    display: flex;
    flex-direction: column;
}