.analyzeweb__navbar {
    display: flex;
    width: 100%;
    height: 15%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 9%;
    padding-right: 9%;
    position: fixed;
}

.analyzeweb__navbar-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.analyzeweb__navbar-logo img {
    width: 120px;
    height: 120px;
}

.analyzeweb__navbar-logo p {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 130%;
}

.analyzeweb__navbar-links {
    display: flex;
    flex-direction: row;
    width: 40vw;
    height: 70px;
    justify-content: space-around;
    align-items: center;
}

.analyzeweb__navbar-links p {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 140%;
}

/*--------------------------------------------------------*/

.analyzeweb__navbar-menu2{
    position: absolute;
    right: 6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    font-family: 'Montserrat';
}

.analyzeweb__navbar-menu2 button{
    background-color: #fff;
    justify-content: space-around;
    font-family: 'Montserrat';
}

.analyzeweb__navbar-menu2_trigger{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 9%;
    width: 150px;
    height: 45px;
    cursor: pointer;
    font-size: 22px;
    border: 2px solid black;
    border-radius: 30px;
}

.analyzeweb__navbar-menu2_trigger h3{
    margin-top: 0;
    font-weight: 400;
}

.analyzeweb__navbar-menu2_dropdown.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 500ms ease;
    z-index: 4;
}

.analyzeweb__navbar-menu2_dropdown{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    width: 180px;
    height: 250px;
    background-color: #fff;
    font-size: 18px;
    border: 2px solid #000;
    border-radius: 15px;
}

.analyzeweb__navbar-menu2_dropdown.inactive{
    opacity: 0;
    display: none;
    /* visibility: hidden; */
    transform: translateY(-30px);
    transition: 500ms ease;
    z-index: -3;
}

.analyzeweb__navbar-menu2_dropdown-links{
    display: grid;
    align-content: space-around;
    align-items: center;
    width: 130px;
    grid-template-columns: 30% 70%;
}