.analyzeweb__footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 50vh;
    background-color: #20272C;
    font-family: 'Montserrat';
    padding-left: 6rem;
    padding-right: 6rem;
}
/* ------------------------------------------------------------------ */
.analyzeweb__footer-content {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    height: 50%;
}

.analyzeweb__footer-content_nosotros,
.analyzeweb__footer-content_servicio,
.analyzeweb__footer-content_contacto {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    width: 32%;
    height: 100%;
    gap: 9px;
}

.analyzeweb__footer-content h2 {
    color: white;
    font-weight: 400;
    font-size: 24px;
}

.analyzeweb__footer-content p{
    color: #BED2D5;
    font-weight: 300;
    font-size: 18px;
}

.analyzeweb__footer-content_nosotros-icons,
.analyzeweb__footer-content_servicio-wp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 75%;
    height: auto;
}

.analyzeweb__footer-content_nosotros-icons svg,
.analyzeweb__footer-content_servicio-wp svg {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.analyzeweb__footer-content_servicio-wp {
    justify-content: left;
    gap: 0.5vmin;
    cursor: pointer;
}

/* ------------------------------------------------------------- */

.analyzeweb__footer-logo {
    display: flex;
    flex-direction: column;
    height: 60%;
    width: fit-content;
    justify-content: space-around;
    align-items: center;
}

.analyzeweb__footer-logo > #dark_logo {
    height: 70%;
}

.analyzeweb__footer-logo h2 {
    color: white;
    font-size: 24px;
}

@media screen and (max-width: 1050px) {
    .analyzeweb__footer{
        padding: 0;
    }
    .analyzeweb__footer-content {
        width: 70vw;
        height: 30%;
    }
    .analyzeweb__footer-content h2 {
        font-size: 20px;
    }
    .analyzeweb__footer-content p{
        font-size: 11px;
    }
    .analyzeweb__footer-content_nosotros-icons,
    .analyzeweb__footer-content_servicio-wp {
        width: 75%;
        height: 20px;
    }
    .analyzeweb__footer-logo {
        height: 50%;
    }
    .analyzeweb__footer-logo > #dark_logo {
        height: 15vmin;
    }
    .analyzeweb__footer-logo h2 {
        font-size: 18px;
    }
    .analyzeweb__footer-content_nosotros-icons svg,
    .analyzeweb__footer-content_servicio-wp svg {
        height: 15px;
        width: 15px;
    }   
}

@media screen and (max-width: 650px) {
    .analyzeweb__footer{
        flex-direction: column;
        height: 55vh;
    }
    .analyzeweb__footer-content{
        display: flex;
        flex-wrap: wrap;
        height: 75%;
        width: 100%;
        margin-top: 6vmin;
    }
    .analyzeweb__footer-content_nosotros,
    .analyzeweb__footer-content_servicio,
    .analyzeweb__footer-content_contacto{
        margin-left: 6vmin;
        margin-right: 6vmin;
        height: 30%;
        width: 100%;
        gap: 6px;
    }
    .analyzeweb__footer-content h2 {
        color: white;
        font-weight: 400;
        font-size: 18px;
    }
    
    .analyzeweb__footer-content p{
        color: #BED2D5;
        font-weight: 300;
        font-size: 10px;
    }
    .analyzeweb__footer-logo{
        height: 20%;
        margin-bottom: 6vmin;
    }
    .analyzeweb__footer-content_nosotros-icons{
        width: 50%;
    }
    .analyzeweb__footer-logo h2{
        font-weight: 500;
    }
}