.analyzeweb__header{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Montserrat';
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding-top: 3vmin;
    padding-left: 6%;
    padding-right: 6%;
    overflow: hidden;
    border: 1px solid red;
}

.analyzeweb__header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35vw;
    height: 100%;
    z-index: 4;
}

.analyzeweb__header-content h2{
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 6vw;
    color: #20272C;
}

.analyzeweb__header-content_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: flex-end;
    width: 20vw;
    height: 3vw;
    margin-top: 6%;
}

.analyzeweb__header-content_button > #trigger{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: 0;
    background-color: #FACEA6;
    cursor: pointer;
}

.analyzeweb__header-content_button p{
    font-family: 'Montserrat';
    font-weight: 700;
    color: #20272C;
    font-size: 1vw;
}

/*------------------------- GRAPHICS SECTION -----------------------*/
.analyzeweb__header-graphics{
    position: relative;
    width: 50vw;
    height: 60%;
}
.analyzeweb__header-graphics_blob {
    width: 75%;
    height: 80%;
    border: 1px solid red;
}
#blob:nth-child(1) {
    right: 40%;
    top: 10%;
    background: rgba(71,201,220,.90);
    position: absolute;
    width: 35vmin;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: rotate 25s infinite;
    opacity: 0.8;
} 

#blob:nth-child(2) {
    top: 22%;
    left: 30%;
    background: rgba(124,70,192,.8);
    position: absolute;
    width: 35vmin;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: rotate 30s infinite;
    opacity: 0.8;
} 

#blob:nth-child(3) {
    top: 35%;
    right: 25%;
    background: rgba(223,178,142,.8);
    position: absolute;
    width: 35vmin;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: rotate 45s infinite;
    opacity: 0.8;
} 

@keyframes rotate {
    from {
        rotate: 0deg;
    }
    50% {
        scale: 1 1.5;
    }
    to {
        rotate: 720deg;
    }
}

#blur {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 3;
    backdrop-filter: blur(8vmax);
  }

#graphs {
    position: absolute;
    top: 0;
    left: 0;
    width: 45vw;
    height: 100%;
    mix-blend-mode: color-burn;
    z-index: 4;
}

/*---------------------------------------------------------------------*/

@media screen and (max-width: 650px) {
    .analyzeweb__header-content{
        width: 80vw;
        align-items: center;
    }
    .analyzeweb__header-content h2{
        font-size: 9vmin;
    }
    .analyzeweb__header-graphics{
        position: absolute;
        width: 70vw;
        height: 30vh;
    }
    #graphs{
        width: 100%;
        height: 100%;
    }
    .analyzeweb__header-content_button{
        position: relative;
        height: 10vmin;
        width: 40vw;
        cursor: pointer;
        z-index: 4;
    }
    .analyzeweb__header-content_button > #trigger{
        height: 80%;
        width: 100%;
        z-index: 3;
    }
    .analyzeweb__header-content_button p{
        font-size: 9px;
    }
    #blob:nth-child(1),
    #blob:nth-child(2),
    #blob:nth-child(3){
        filter: blur(30px);
    }
}